@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --white: #ffffff;
        --black: #222222;

        --white-05: rgba(34, 34, 34, 0.05);
        --black-30: rgba(34, 34, 34, 0.3);

        --neutral-01: #f7f7f7;
        --neutral-02: #ebebeb;
        --neutral-03: #dddddd;
        --neutral-04: #d3d3d3;
        --neutral-05: #c2c2c2;
        --neutral-06: #b0b0b0;
        --neutral-07: #717171;
        --neutral-08: #5e5e5e;

        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: #ff385c;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --text-secondary: #dddddd;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
        --gradient: linear-gradient(
            to right,
            #e61e4d 0%,
            #e31c5f 50%,
            #d70466 100%
        );

        --destination-card-columns: 4;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.carousel-grid {
    @apply grid grid-cols-carousel gap-4 items-center;
    grid-template-areas: 'carousel_prev_btn carousel_container carousel_next_btn';
}

/* ----------------------------------------------------*/
/* DATE PICKER STYLES */
/*-----------------------------------------------------*/

.rdp-months {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 2rem;
}

.rdp-cell {
    padding: 1rem;
    border-radius: 0.5rem;
}
